<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Submissions</h1>
    <nav>
        <a href="/rorschach-test">Home</a>
        <a href="/rorschach-test/:id/show">Take the Test</a>
    </nav>
    <div class="container">
        <ul>
            <% for (let i = 0; i < testDb.length; i++) { %>
                <li><img src="<%=testDb[i].image %>" alt="" width="275" height="150"></li></br>
                <li><p><%=testDb[i].statement %></p></li>

         <%  } %>
        </ul>

    </div>
</body>
</html>