<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Ink Blot Aggregator</title>
</head>
<body>
    <h1>Apophenia Aggregator</h1>
    <nav>
        
    </nav>
<div class="splash-container">
    <img id="splash-gif" src="https://thumbs.gfycat.com/SpecificDaringKakapo.webp" alt="moving clouds gif">
    <div class="splash-text">
    <p>Apophenia is the experience of applying a meaningful pattern to randomness. It's what happens when you see recongnizable shapes in clouds. It is a common occurence. The inkblot test designed by Swiss psychiatrist Hermann Rorschach is a famous expample of apophenia at work in an attempt to gain insight in to a patient's mind.</p>
    <p>While apophenia is usually harmless it is a type of bias that can in some forms disproportionately influence our peception. On this page I invite you to submit your interpretations of these classic rorschach ink blots. Through the accumulation of a vast quantity of submissions I encourage visitors to search for trends in interpretations. What might we learn about ourselves at this moment in time by finding common interpretations? Can anything productive be taken away without falling victim to apophenia? </p>
    <a id="create-link" href="rorschach-test/create">Try it out</a>
    </div>
</div>

</body>
</html>