<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>What do you see?</h1>
    <nav>
        <a href="/rorschach-test"> Home</a>
        <a href="/rorschach-test/edit"> Submissions</a>
    </nav>
    <div class="container">
        <% let i = Math.floor(Math.random() * testDb.length)%>
        
       <img src="<%=testDb[i].image %>" alt="" width="275" height="150"> 
        <p>What do you see?</p>
       <form action="/rorschach-test/<%=testDb[i].id%>/show?_method=PUT" method="POST">
        <textarea name="statement" value="<%=testDb[i].statement %>" rows="6" cols="30">
        </textarea>
    </br>
       <input type="submit" name"" value="Submit Response">
       </form>
    </div>
</body>
</html>

